/* 메뉴탑 */
div.mntopWrap{}
div.mntopWrap>div.menuTop{}
div.mntopWrap>div.menuTop>div.info{}
div.mntopWrap>div.menuTop>div.info>h4{}
div.mntopWrap>div.menuTop>ul.nav{}
div.mntopWrap>div.menuTop>ul.nav>li{}

/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header{}
div.hdrWrap>div.header>h1{}
div.hdrWrap>div.header>ul.nav{}
div.hdrWrap>div.header>ul.nav>li{}

/* 메인 */
div.mainWrap{}
div.mainWrap>div.main{}
div.mainWrap>div.main>div.texts{}
div.mainWrap>div.main>div.texts>h2{}
div.mainWrap>div.main>div.texts>p{}
div.mainWrap>div.main>div.btns{}
div.mainWrap>div.main>div.btns>div.btn{}
div.mainWrap>div.main>div.btns>div.btn>i{}
div.mainWrap>div.main>div.btns>div.btn>span{}

/* 컨텐츠 공통 */
div.cntWrap{}
div.cntWrap>div.cotent{}
div.cntWrap>div.cotent>div.header{}
div.cntWrap>div.cotent>div.header>div.hdrLeft{}
div.cntWrap>div.cotent>div.header>div.hdrLeft>h2{}
div.cntWrap>div.cotent>div.header>div.hdrLeft>h5{}
div.cntWrap>div.cotent>div.header>div.hdrLeft>ul.nav{}
div.cntWrap>div.cotent>div.header>div.hdrLeft>ul.nav>li{}
div.cntWrap>div.cotent>div.header>div.hdrRight{}
div.cntWrap>div.cotent>div.header>div.hdrRight>div.btn{}
div.cntWrap>div.cotent>div.header>div.hdrRight>div.btn>i{}
div.cntWrap>div.cotent>div.section{}
div.cntWrap>div.cotent>div.section>div.article{}
div.cntWrap>div.cotent>div.section>div.article>div.image{}
div.cntWrap>div.cotent>div.section>div.article>div.texts{}
div.cntWrap>div.cotent>div.section>div.article>div.texts>h3{}
div.cntWrap>div.cotent>div.section>div.article>div.texts>h5{}
div.cntWrap>div.cotent>div.section>div.article>div.texts>p{}
div.cntWrap>div.cotent>div.section>div.article>div.texts>div.btn{}
div.cntWrap>div.cotent>div.section>div.article>div.texts>div.btn>i{}

/* 컨텐츠1 */
div.cntWrap>div.cotent.cnt01{}
div.cntWrap>div.cotent.cnt01>div.header{}
div.cntWrap>div.cotent.cnt01>div.header>div.hdrLeft{}
div.cntWrap>div.cotent.cnt01>div.header>div.hdrLeft>h2{}
div.cntWrap>div.cotent.cnt01>div.header>div.hdrLeft>ul.tap{}
div.cntWrap>div.cotent.cnt01>div.header>div.hdrLeft>ul.tap>i{}
div.cntWrap>div.cotent.cnt01>div.header>div.hdrRight{}
div.cntWrap>div.cotent.cnt01>div.header>div.hdrRight>i{}
div.cntWrap>div.cotent.cnt01>div.section{}
div.cntWrap>div.cotent.cnt01>div.section>div.article{}
div.cntWrap>div.cotent.cnt01>div.section>div.article>div.image{}
div.cntWrap>div.cotent.cnt01>div.section>div.article>div.texts{}
div.cntWrap>div.cotent.cnt01>div.section>div.article>div.texts>h5{}
div.cntWrap>div.cotent.cnt01>div.section>div.article>div.texts>h3{}
div.cntWrap>div.cotent.cnt01>div.section>div.article>div.texts>p{}
div.cntWrap>div.cotent.cnt01>div.section>div.article>div.texts>div.btn{}
div.cntWrap>div.cotent.cnt01>div.section>div.article>div.texts>div.btn>i{}

/* 컨텐츠2 */
div.cntWrap>div.cotent.cnt02{}
div.cntWrap>div.cotent.cnt02>div.header{}
div.cntWrap>div.cotent.cnt02>div.header>div.hdrLeft{}
div.cntWrap>div.cotent.cnt02>div.header>div.hdrLeft>h2{}
div.cntWrap>div.cotent.cnt02>div.header>div.hdrLeft>h5{}
div.cntWrap>div.cotent.cnt02>div.header>div.hdrRight{}
div.cntWrap>div.cotent.cnt02>div.header>div.hdrRight>div.btn{}
div.cntWrap>div.cotent.cnt02>div.section{}
div.cntWrap>div.cotent.cnt02>div.section>div.article{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.image{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.texts{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.texts>div.txtLeft{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score>h3{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.texts>div.txtLeft>div.score>h5{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.texts>div.txtLeft>h5{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.texts>div.txtRight{}
div.cntWrap>div.cotent.cnt02>div.section>div.article>div.texts>div.txtRight>p{}

/* 배너 공통영역 */
div.brnWrap{}
div.brnWrap>div.banner{}
div.brnWrap>div.banner>h2{}
div.brnWrap>div.banner>p{}
div.brnWrap>div.banner>div.btn{}
div.brnWrap>div.banner>div.image{}

/* 배너1 */
div.brnWrap.brnWrap1{}
div.brnWrap.brnWrap1>div.banner.bnr01{}
div.brnWrap.brnWrap1>div.banner.bnr01>h2{}
div.brnWrap.brnWrap1>div.banner.bnr01>p{}
div.brnWrap.brnWrap1>div.banner.bnr01>div.btn{}

/* 배너2 */
div.brnWrap.brnWrap2{}
div.brnWrap.brnWrap2>div.banner.bnr02{}
div.brnWrap.brnWrap2>div.banner.bnr02>div.texts{}
div.brnWrap.brnWrap2>div.banner.bnr02>div.texts>h2{}
div.brnWrap.brnWrap2>div.banner.bnr02>div.texts>h5{}
div.brnWrap.brnWrap2>div.banner.bnr02>div.texts>p{}
div.brnWrap.brnWrap2>div.banner.bnr02>div.texts>div.btn{}
div.brnWrap.brnWrap2>div.banner.bnr02>div.image{}

/* 푸터 */
div.ftrWrap{}
div.ftrWrap>div.footer{}
div.ftrWrap>div.footer>div.info{}
div.ftrWrap>div.footer>div.info>h4{}
div.ftrWrap>div.footer>div.info>p{}
div.ftrWrap>div.footer>ul.nav{}
div.ftrWrap>div.footer>ul.nav>i{}